body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3f000f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#git
{
margin-left:10px;
}
.badg
{
margin-left:40px;
}
.badg:hover
{
transform: scale(1.05);
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.jumbotron
{
  background: #000000;
    color:white;
}
 


 .jumbotron:hover
{
transform: scale(1.05);
color:orange;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

#aboutflex
{
display:flex;
flex:direction:column;
}
#followus
{
margin:50px;
margin-left:800px;
}
#bad
{

margin-left:220px;

}
   @media only screen and (max-width:500px) 
    {
#aboutflex
{
display:inline;

}
#bad
{
margin-top:0 auto;
margin-left:80px;

}
#followus
{
margin-top:50px;
margin-left:120px;

}
.badg
{
margin-left:130px;
}  
#git
{
margin-left:100px;
}

}





