h1 {

    color:#C01364;
  
 
    padding:10px;
  }
#main-container{
    text-align: center;
   

  
}
.button{
    position: relative;
    background-color: blue;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    margin:30px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
#header
{
    
    text-align: center;
    color:brown;
   
  
}

.img-circle
{
    width:260px;
    height:300px;
    border-style: solid;
    border: 1px solid grey;
    margin: 5px;
}
@media only screen and (max-width: 768px) 
{
    .img-circle
    {
        width:165px;
        height:165px;
        border-style: solid;
        border: 1px solid grey;
      margin-bottom:10px;
    }
    .button{
      font-size:12px;
      width:40x;
      padding:10px;
        margin:30px;
    }


}


body
{
background:#000000;
}
